.posts-page {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title {
    text-align: center;
    margin-top: 0;
}

.posts-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;

    padding: 0;
}

.posts-list-item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
