.form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.title {
    margin: 0;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.buttons-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.buttons-wrapper > *:only-child {
    margin-left: auto;
}
