.post {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    width: 12rem;
}

.title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    text-align: center;

    margin: 0;
}

.content-wrapper {
    padding: 2rem 2rem;

    background-color: white;
    border: 1px solid black;
}

.content {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    white-space: break-spaces;
    word-break: break-all;

    text-align: center;

    height: 3rem;

    margin: 0;
}
